# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: are integers

Strings: list of characters like a tuple

Lists: arranged number of things

Tuples: Just like a constant list, we use them to have a high processing speed

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
x=100+0.25
print(x)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [10]:
44, 29, 34
x=4+6*5
x

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br>8.5<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:(x)**0.5

In [ ]:
# Square:x**2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [17]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [18]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [19]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [20]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [25]:
# Method 1:
list_1=[0,0,0]
print(list_1)

[0, 0, 0]

# Method 2:
list_2=[]
print(list_2) 
## ???

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [40]:
list3 = [1,2,[3,4,'hello']]
len(list3[2])
list3[2][2]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [30]:
list4 = [5,3,4,6,1]

list5=sorted(list4)
list5

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [15]:
d = {'simple_key':'hello'}
# Grab 'hello'
d(0)

TypeError: 'dict' object is not callable

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br> list we can add item to it or remove while tuple is a constant list<br>

How do you create a tuple?<br>tup(1,'h')<br>

## Sets

What is unique about a set?<br>it is a non arrangement lise that do not allow duplicate in values<br>

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

# Great Work!